.communityContent {
    display: flex;
    align-items: center;
}

.communityContent .left {
    display: flex;
    width: 40%;
}

.communityContent .right {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.communityBtns .left {
    display: flex;
    align-items: center;
    width: 30%;
}

.communityContent .heading .upHeading {
    display: flex;
    justify-content: flex-end;
    font-size: 140px;
    position: relative;
    bottom: -80px;
}

.communityContent .heading .downHeading {
    display: flex;
    justify-content: flex-end;
    font-size: 125px;
    position: relative;
}

.communityBtns .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    width: 70%;
}

.communityBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.communityBtns .btnContainer {
    border: 1px solid #fff;
    padding: 10px;
}

.btn-large {
    color: #fff;
    background: rgb;
    background: rgb(3, 3, 3);
    font-size: 36px;
    padding: 10px 20px;
    /* min-width: 300px; */
}

.btn-large span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
}

.btn-large span .fa-brands {
    font-size: 48px;
}