footer{
    width: 100%;
    box-shadow: 0px 0px 5px 2px #111;
    background: #f9edc5;
}

footer .main-content{
    display: flex;
    padding: 1rem 2rem;
}

footer .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

footer .box h2{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

footer .box .content{
    margin: 20px 0 0 0;
    position: relative;
    font-family: var(--body-font);
}

.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

footer .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: tomato;
    top: -10px;
}

.left .content p{
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.left .content .social a span:hover{
    background: tomato;
}

.center .content .fas{
    font-size: 1.4375rem;
    background: rgb(3, 3, 3);
    height: 40px;
    width: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
}

.center .content .fas:hover{
    background: tomato;
}

.center .content .text{
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 2px;
    font-family: var(--body-font);
}

.right form .msg, .email{
    margin-top: 10px;
}

.right form input, .right form textarea{
    width: 100%;
    font-size: 14px;
    background: transparent;
    padding: 10px;
    resize: vertical;
    font-family: var(--body-font);
}

.right form input{
    height: 35px;
    font-size: 14px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #111;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-family: var(--body-font);
}

.bottom center{
    padding: 10px ;
    font-size: 1rem;
    font-family: var(--body-font);
    background: #111;
}

.bottom center span{
    background: transparent;
    color: #fff;
}

.bottom center a{
    color: tomato;
    background: transparent;
    text-decoration: none;
}

.bottom center a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    
    footer{
        position: relative;
        bottom: 0px;
    }
    
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .main-content .box{
        margin: 5px 0;
    }
}