.homeContent {
    width: 100%;
}

.homeContent .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContent .left img {
    width: 100%;
    height: 100%;
}

.homeContent .right {
    width: 50%;
}

.homeContent .rbtnContainer {
    position: absolute;
    top: 50%;
    left: 45%;
}

.home-cursor {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.home-upHeading {
    font-size: 180px;
}

.home-downHeading {
    position: relative;
    top: -20px;
    font-size: 110px;
}