/* 1024 - Small Laptop Screen */
@media screen and (max-width: 1024px) {
    nav .logo { width: 30% }
    nav .logo img { width: 45% }
    nav .menu { width: 70% }
    .collectionContent .left .heading .upHeading { font-size: 210px; }
    .collectionContent .left .heading .downHeading { font-size: 65px; }
    .communityContent .heading .upHeading { font-size: 95px; bottom: -50px; }
    .communityContent .heading .downHeading { font-size: 80px; }
    .btn-large { min-width: 0px; }
    .btn-large span { font-size: 25px; }
    
    .member-view-box { padding: 15px; }
    .member-image img { width: 35px; height: 35px; } 
}

/* 768 - Tablet Screen */
@media screen and (max-width: 768px) {
    nav .logo { width: 20% }
    nav .logo img { width: 75% }
    nav .menu { width: 80% }
    nav.black ul li { padding: 10px; }
    .homeContent { width: 100%; flex-direction: column; } 
    .secContent { flex-direction: column; gap: 0; }
    .sameStyle .right { width: 100%; } 
    .communityContent .left { width: 80%; }
    .communityContent .heading .upHeading, .downHeading { justify-content: center; }

    .second { flex-direction: column; }
    .info .second .left { width: 100%; }
    .info .second .right { width: 100% }
    .fifth .container { gap: 2rem; }
    .fifth .container .card { min-width: 300px; }

    .info .fifth .container .card { width: 300px !important; }
}

/* 426 0 Large Mobile Screen */
@media screen and (max-width: 426px) {

    .roadmapTitle img { width: 40px; height: 20px; }
    .info .second .right img { width: 100%; height: 100%; }
    .roadmapTitle { gap: 1rem; }

    nav { flex-direction: column; padding: 0.25rem 0.5rem;}
    nav .logo { width: 100%; display: flex; justify-content: center; align-items: center; }
    nav .logo img { width: 40%; }
    nav .menu { width: 100%; }
    nav .menu ul li a { font-size: 10px; }

    nav.black { flex-direction: column; padding: 0.25rem 0.5rem;}
    nav.black .logo { width: 100%; display: flex; justify-content: center; align-items: center; }
    nav.black .logo img { width: 40%; }
    nav.black .menu { width: 100%; }
    nav.black .menu ul li { padding: inherit !important; }
    nav.black .menu ul li a { font-size: 10px; }

    #home { gap: 2rem; }
    .aboutTitle h1 { font-size: 48px; }
    .info { gap: 2rem; }
    .info .base { font-size: 10px; width: 80%; margin: 0 auto; gap: 1rem; }
    .info .second { padding: 20px;  flex-direction: column-reverse; }
    .info .second .left { gap: 1rem; }
    .info .second .left .second-content { font-size: 18px; }

    .phaseContainer { padding: 20px; width: 100%; gap: 1rem; }
    .info .base .baseTitle { font-size: 18px; }
    .phaseContainer .phaseDetails { gap: 1rem; }
    .phaseContainer .phaseDetails ul { font-size: 8px; gap: 1rem }
    .phaseContainer .phaseDetails ul li { line-height: initial; }
    .phaseContainer .phaseDetails p { font-size: 8px; }

    footer .main-content .box { padding: 5px; }
    footer .box h2 { font-size: 1rem; }
    .left .content p { font-size: 10px; }
    .left .content .social a span { width: 20px; height: 20px; line-height: 20px; font-size: 12px; }
    .center .content .fas { width: 30px; height: 30px; line-height: 30px; font-size: 1rem; }
    .center .content .text { font-size: 10px; }
    .right form .text { font-size: 10px; }
    .right form input, .right form textarea { height: 35px; font-size: 10px; }
    .right form .btn button { font-size: 0.75rem; }
    .bottom center { font-size: 10px; }

    .fifth .container .card { width: 100%; min-width: 240px; height: 400px; } 
    .fifth .container .card .box .content h2 { font-size: 5rem; }
    .fifth .container .card .box .content h3 { font-size: 1rem; }
    .fifth .container .card .box .content .content-p { font-size: 8px;  }

    .member-view-box { padding: 10px; }
    .member-image img { width: 20px; height: 20px; } 
    .member-details h3 { font-size: 12px; }
    .genealogy-tree ul { width: auto; }

    .fourth { padding: 0; }
    .phase { font-size: 1rem; padding: 20px; } 
    .phaseContainer .phaseNumber { font-size: 18px; }
    .phaseContainer .phaseNumber { border-bottom: 2px solid tomato; padding-bottom: 0; }
    .phase:before { font-size: 12px; }
    .phase:nth-child(odd):before { margin-left: -15px; } 
    .phase:nth-child(odd):before { margin-right: -15px; }

    .info .fifth .container .card { width: 250px !important; }
    .info .fifth .container .card .box .content h3 { font-size: 1rem; }
    .info .fifth .container .card .box .content .content-p { font-size: 10px; }
    .info .fifth .container .card .box .content .content-p button img { width: 30px !important; height: 30px !important; }
    .info .fifth .container { gap: 1rem; }

    .secContent { width: 70%; padding: 20px; gap: 1rem; border-radius: 10px; }

    .homeContent { flex-direction: column-reverse; height: auto; width: 90%; gap: 1rem; }
    .homeContent .left { width: 100%; gap: 1rem; } 
    .homeContent .right { width: 70%; }
    .homeContent .left .homeTitle { font-size: 18px; }
    .homeContent .left .homeSubTitle { font-size: 10px; }
    .home-p { gap: 1rem; }

    .aboutContent .left { width: 100%; gap: 1rem; }
    .aboutContent .left .heading .upHeading { font-size: 20px; }
    .aboutContent .left .heading .downHeading { font-size: 20px; }
    .aboutContent .right p { font-size: 10px; text-align: center; }
    .explore { font-size: 10px; padding: 4px 8px; width: 100%; }

    .collectionContent .left { width: 100%; gap: 1rem; }
    .collectionContent .upHeading { font-size: 20px; text-align: center; line-height: 1.5rem; }
    .collectionContent .downHeading { font-size: 20px; }

    .flickity-viewport { height: min-content; }
    .collectionContent .cell { flex-direction: column-reverse; height: auto; gap: 1rem; padding: 10px; }
    .collectionContent .cell .right { width: 100%; }
    .collectionContent .cell .right img { width: 100%; height: 100%; }
    .flickity-prev-next-button { width: 20px; height: 20px; }

    .collectionContent .cell .left { width: 90%; }
    .collectionContent .cell .left .phaseNumber { font-size: 20px !important; }
    .collectionContent .cell .left ul { gap: 1rem; }
    .collectionContent .cell .left ul p { font-size: 10px !important; }
    .flickity-page-dots { bottom: 0; }
    .flickity-page-dots .dot { width: 5px; height: 5px; }

    .communityContent .heading .upHeading { font-size: 20px; bottom: 0; }
    .communityContent .heading .downHeading { font-size: 20px; top: 0; }
    .communityContent .left, .communityContent .right { width: 100%; }
    .communityContent .right { gap: 1rem; }
    .btn-large { font-size: 18px; padding: 4px 10px; }
    .btn-large span { font-size: 18px; }
    .btn-large span .fa-brands { font-size: 18px; }
    .communityBtns { gap: 1rem; }
    .communityBtns .btnContainer { padding: 4px; }

    footer { border-top-left-radius: 15px; border-top-right-radius: 15px; margin-top: 1rem; }
}

/* 320 - Small Mobile Screen */
@media screen and (max-width: 320px) {

    .roadmapTitle img { width: 40px; height: 20px; }
    .info .second .right img { width: 100%; height: 100%; }
    .roadmapTitle { gap: 1rem; }

    nav { flex-direction: column; padding: 0.25rem 0.5rem;}
    nav .logo { width: 100%; display: flex; justify-content: center; align-items: center; }
    nav .logo img { width: 40%; }
    nav .menu { width: 100%; }
    nav .menu ul li a { font-size: 10px; }

    nav.black { flex-direction: column; padding: 0.25rem 0.5rem;}
    nav.black .logo { width: 100%; display: flex; justify-content: center; align-items: center; }
    nav.black .logo img { width: 40%; }
    nav.black .menu { width: 100%; }
    nav.black .menu ul li { padding: inherit !important; }
    nav.black .menu ul li a { font-size: 10px; }

    #home { gap: 2rem; }
    .aboutTitle h1 { font-size: 48px; }
    .info { gap: 2rem; }
    .info .base { font-size: 10px; width: 80%; margin: 0 auto; gap: 1rem; }
    .info .second { padding: 20px;  flex-direction: column-reverse; }
    .info .second .left { gap: 1rem; }
    .info .second .left .second-content { font-size: 18px; }

    .phaseContainer { padding: 20px; width: 100%; gap: 1rem; }
    .info .base .baseTitle { font-size: 18px; }
    .phaseContainer .phaseDetails { gap: 1rem; }
    .phaseContainer .phaseDetails ul { font-size: 8px; gap: 1rem }
    .phaseContainer .phaseDetails ul li { line-height: initial; }
    .phaseContainer .phaseDetails p { font-size: 8px; }

    footer .main-content .box { padding: 5px; }
    footer .box h2 { font-size: 1rem; }
    .left .content p { font-size: 10px; }
    .left .content .social a span { width: 20px; height: 20px; line-height: 20px; font-size: 12px; }
    .center .content .fas { width: 30px; height: 30px; line-height: 30px; font-size: 1rem; }
    .center .content .text { font-size: 10px; }
    .right form .text { font-size: 10px; }
    .right form input { height: 35px; font-size: 10px; } 
    .right form .btn button { font-size: 0.75rem; }
    .bottom center { font-size: 10px; }

    .fifth .container .card { width: 100%; min-width: 240px; height: 400px; } 
    .fifth .container .card .box .content h2 { font-size: 5rem; }
    .fifth .container .card .box .content h3 { font-size: 1rem; }
    .fifth .container .card .box .content .content-p { font-size: 8px;  }

    .member-view-box { padding: 10px; }
    .member-image img { width: 20px; height: 20px; } 
    .member-details h3 { font-size: 12px; }
    .genealogy-tree ul { width: auto; }

    .fourth { padding: 0; }
    .phase { font-size: 1rem; padding: 20px; } 
    .phaseContainer .phaseNumber { font-size: 18px; }
    .phaseContainer .phaseNumber { border-bottom: 2px solid tomato; padding-bottom: 0; }
    .phase:before { font-size: 12px; }
    .phase:nth-child(odd):before { margin-left: -15px; } 
    .phase:nth-child(odd):before { margin-right: 15px; } 

    .info .fifth .container .card { width: 250px !important; }
    .info .fifth .container .card .box .content h3 { font-size: 1rem; }
    .info .fifth .container .card .box .content .content-p { font-size: 10px; }
    .info .fifth .container .card .box .content .content-p button img { width: 30px !important; height: 30px !important; }
    .info .fifth .container { gap: 1rem; }

    .secContent { width: 70%; padding: 20px; gap: 1rem; border-radius: 10px; }

    .homeContent { flex-direction: column-reverse; height: auto; width: 90%; gap: 1rem; }
    .homeContent .left { width: 100%; gap: 1rem; } 
    .homeContent .right { width: 70%; }
    .homeContent .left .homeTitle { font-size: 18px; }
    .homeContent .left .homeSubTitle { font-size: 10px; }
    .home-p { gap: 1rem; }

    .aboutContent .left { width: 100%; gap: 1rem; }
    .aboutContent .left .heading .upHeading { font-size: 20px; }
    .aboutContent .left .heading .downHeading { font-size: 20px; }
    .aboutContent .right p { font-size: 10px; text-align: center; }
    .explore { font-size: 10px; padding: 4px 8px; width: 100%; }

    .collectionContent .left { width: 100%; gap: 1rem; }
    .collectionContent .upHeading { font-size: 20px; text-align: center; line-height: 1.5rem; }
    .collectionContent .downHeading { font-size: 20px; }

    .flickity-viewport { height: min-content; }
    .collectionContent .cell { flex-direction: column-reverse; height: auto; gap: 1rem; padding: 10px; }
    .collectionContent .cell .right { width: 100%; }
    .collectionContent .cell .right img { width: 100%; height: 100%; }
    .flickity-prev-next-button { width: 20px; height: 20px; }

    .collectionContent .cell .left { width: 90%; }
    .collectionContent .cell .left .phaseNumber { font-size: 20px !important; }
    .collectionContent .cell .left ul { gap: 1rem; }
    .collectionContent .cell .left ul p { font-size: 10px !important; }
    .flickity-page-dots { bottom: 0; }
    .flickity-page-dots .dot { width: 5px; height: 5px; }

    .communityContent .heading .upHeading { font-size: 20px; bottom: 0; }
    .communityContent .heading .downHeading { font-size: 20px; top: 0; }
    .communityContent .left, .communityContent .right { width: 100%; }
    .communityContent .right { gap: 1rem; }
    .btn-large { font-size: 18px; padding: 4px 10px; }
    .btn-large span { font-size: 18px; }
    .btn-large span .fa-brands { font-size: 18px; }
    .communityBtns { gap: 1rem; }
    .communityBtns .btnContainer { padding: 4px; }

    footer { border-top-left-radius: 15px; border-top-right-radius: 15px; margin-top: 1rem; }
}
