/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Yuji+Syuku&display=swap');

/* General Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: radial-gradient(rgba(0, 20, 30, 1) 40%, rgb(3, 3, 3));
    font-family: 'Yuji Syuku', serif;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s linear;
    animation: ease-in-out;
    scroll-behavior: smooth;
}

textarea, input {
    font-family: 'Yuji Syuku', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: #747474;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

#home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Banner Section */

#banner {
    width: 100%;
    height: 100vh;
    background: url('../images/website-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

nav .logo, .menu {
    width: 50%;
}

nav .logo img {
    width: 20%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    text-align: center;
    transition: all 1s ease-out;
}

nav.black {
    background-color: #111;
    transition: all 1s ease-in;
    box-shadow: 0px 15px 20px rgba(210, 29, 29, 0.4);
}

nav.black ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
}

nav.black a:hover {
    color: lightcoral
}

.secContent {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
    gap: 2rem;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 2px lightskyblue;
}

.homeContent {
    position: relative;
    top: 110px;
    height: calc(100vh - 110px);
    border: none;
    box-shadow: none;
}

.homeContent .left {
    width: 70%;
    align-items: baseline;
    gap: 2rem;
    flex-direction: column;
}

.homeContent .right {
    box-shadow: 0px 0px 20px 1px #fff; 
    border-radius: 25px
}

.homeContent .left .homeTitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}

.homeContent .left .homeSubTitle {
    font-size: 18px;
    color: lightgray;
}

.explore {
    outline: none;
    border: none;
    cursor: pointer;
    color: inherit;;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 2rem;
    background:  rgba(138, 23, 209, 0.267);
    letter-spacing: 2px;
}

.heading {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 5px;
}

.heading .upHeading {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: 'Noto Sans JP', sans-serif;
}

#footer {
    width: 90%;
    height: 15vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

#footer .socialIcons {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

#footer .someLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #fff;
    transform: rotateZ(-90deg);
}

.alert-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 10000000;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}