@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    animation: ease-in-out;
    scroll-behavior: smooth;
    background: #f9edc5;
    color: #111;
}

:root {
    --header-font: 'Zen Kurenaido', sans-serif;
    --body-font: 'Yuji Syuku', serif;
    --text-color: #111;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: #747474;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

.sameStyle {
    margin-top: 160px !important;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
}

nav .logo, nav .menu {
    width: 50%;
}

nav img {
    width: 20%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav .menuItem {
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: bolder;
}

.secContent {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
    gap: 2rem;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 2px lightskyblue;
}

.homeContent {
    position: relative;
    top: 110px;
    height: calc(100vh - 110px);
    border: none;
    box-shadow: none;
}

.homeContent .left {
    width: 70%;
    align-items: baseline;
    gap: 2rem;
    flex-direction: column;
}

.homeContent .right { 
    border-radius: 25px
}

.homeContent .left .homeTitle {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Kosugi Maru', sans-serif;
}

.homeContent .left .homeSubTitle {
    font-size: 18px;
    color: lightgray;
}

.homeContent .left .home-p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.explore {
    font-family: 'Yuji Syuku', serif;;
    outline: none;
    border: none;
    cursor: pointer;
    color: inherit;;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 2rem;
    background:  rgba(138, 23, 209, 0.267);
    letter-spacing: 2px;
}

.heading {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 5px;
}

.upHeading {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: 'Kosugi Maru', sans-serif;
}

#footer {
    width: 90%;
    height: 15vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

#footer .socialIcons {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

#footer .someLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #fff;
    transform: rotateZ(-90deg);
}

.alert-container {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 10000000;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}